* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}


.main {
    background: url(imag/hero-bg.jpg);
    background-size: cover;
    /* height: 900px; */
    /* filter:grayscale(3); */
}


.nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 20px;



}


.nav {
    text-align: right;
    padding: 30px 0px;
    /* background-color: wh; */
}


.nav a {
    position: relative;
}


.nav a::after {
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    top: 100%;
    background-color: wheat;
    left: 0;
    transition: 1s;

}


.nav a:hover::after {
    width: 100%;
}


.text h1 {
    text-align: center;
    font-size: 60px;
    color: wheat;
    padding: 250px 0px;
}



/* about******** */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px;
}


.pho {
    height: 300px;
    width: 300px;
}


.abt1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


.abt1 p {
    font-size: 24px;
    line-height: 2.5;
}


span {
    color: #4e4e4e;
    font-size: 20px;
}


.abt2 p {
    font-size: 22px;
    line-height: 2.1;
    color: #4e4e4e;

}

.abt2 h2{
    padding-top: 30px;
}


/* .servi*********** */


.serv {
    text-align: center;
    line-height: 2;
}


.serv p {
    font-size: 10px;
    /* color: #4e4e4e; */
}


.serv h1 {
    font-size:28px;
}


.serv1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
}

.desing i {
    font-size: 80px;
    /* background-color: red; */
    padding: 50px;
    border: 10px solid #007aff;
    border-radius: 50%;
    /* padding: 30px 0px; */
    margin: 30px 0px;
    transition: 0.5s;
}

.desing i:hover {
    background-color: #007aff;
    border: 10px solid transparent;
}

.serv1 p {
    font-size: 25px;
    color: #4e4e4e;
    line-height: 1.9;

}



/* TASK********* */


.task {
    background: url(imag/post-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter:contrast(0.8);
    /* filter: contrast(2); */
    background-color: blue;

    /* filter: drop-shadow(5); */
    padding: 50px 0px;
}

.task1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 100px;

}


.task1 h1 {
    font-size: 30px;
}


.icon i {
    font-size: 50px;
    padding: 30px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: #007aff;
}



/* work************ */


.slid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 100px;
    gap: 50px;

    /* padding: 50px; */
}


.slid1 p {
    font-size: 25px;
    padding-top: 10px;
    color: #007aff;

}


.photos {
    /* height: 400px; */
    width: 100%;
    overflow: hidden;
}

.photos img {
    /* height: 400px; */
    width:100%;
    object-fit: cover;
    transition: 3s;

}

.photos:hover img {
    transform: scale(1.5);
}

.works {
    padding: 100px 0px;

}


.w1 {
    line-height: 2;
    text-align: center;
}


.w1 p {
    font-size: 20px;
}


.w1 h1 {
    font-size: 50px;
}


/* contact**********8 */

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(imag/overlay-bg.jpg);
    background-attachment: fixed;
    padding: 100px;
    filter: grayscale(-12);
}


input {
    width: 90%;
    /* height: 50px; */
    /* margin: 20px 0 0 20px; */
    font-size: 20px;
}


input:focus {
    outline: 1px solid #007aff;
}


.sms,
.sms2 {
    padding: 100px 0px;
    background-color: white;

}


.sms {
    text-align: center;
}


.sms2 {
    text-align: left;
    line-height: 1.6;

}


.sms2 h1 {
    font-size: 40px;
}


.sms2 p {
    color: #4e4e4e;
    font-size: 30px;
}


.sms3{
padding-top: 30px;
}

.sms3 p {
    font-size: 20px;
}



button {
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: #007aff;
    border: none;
}

.up{
    text-align: right;

}
.up i{
font-size: 100px;
text-align: right;
/* padding: 20px; */
/* color: white; */
border-radius: 50%;
background:#007aff;
}

